.main {
    color: $background;
    h1{
        color: $text-color;
        font-family: $font-headings;
        background-color: $lightgrey;
        padding: 10px;
    }
    h2 {
        color: $darkblue;
    }
}


#headline h1 {
        color: $darkblue;
        
    }

